/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700;800&family=Poppins:wght@400;500&display=swap');

/* Css reset */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background: #F3F1FF;
    max-width: 1200px;
    margin: 0 auto;
}

/* common styles */
.container {
    width: 90%;
    margin: 0 auto;
    padding: 40px;
}

section {
    background-color: #fff;
}

h2 {
    color: #562EFF;
    font-size: 24px;
    margin-bottom: 35px;
}

/* Navbar styles */

.header {
    background-color: #562EFF;
    margin-bottom: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 40px;
}

.logo {
    width: 10%;
}

.logo img {
    width: 100%;
}
.nav {
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    align-items: center;
    list-style: none;
}

.profile {
    display: inline-block;
}


.nav-item a {
    text-decoration: none;
    color: #F3F1FF;
    border-bottom: 1px solid rgb(86, 46, 255, 0);
}

.nav-item a:hover {
    border-bottom: 1px solid rgb(46, 143, 255);
}

/* Top Players styles */

.top-players {
    background-color: #fff;
}
.players {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 30px;
}

.player {
    display: flex;
    align-items: center;
}

.player img {
    width: 56px;
    height: 56px;
}

.player h4 {
    margin-left: 16px;
}

hr {
    border: 1px solid #D1D1D1;
    margin-top: 30px;
}

/* Top blog styles */

.blogs {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 30px   
}

.blog {
    display: flex;
    justify-content: space-around;
}

.thumbnail, blog-info {
    width: 50%;
}

.thumbnail img {
    width: 100%;
    height: auto;
    padding-right: 20px;
}

.blog-title {
    margin-bottom: 6px;
}
.author a {
    color: #562EFF;
    text-decoration: none;
}

.author a span {
    color: #9F9F9F;
}

/* latest course style  */

.courses {
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.course p {
    margin: 8px 0px 20px 0px;
    color: #ED6B4F;
}

.course img {
    margin-bottom: 20px;
    width: 100%;
}

.review i {
    color: #FFC014;
}

.review i:nth-child(5) {
    color: #9F9F9F;
}
.review-number {
    color: #9F9F9F;
    margin: 0 25px 0 10px;
}
.review-duration {
    background-color: #FFE4E8;
    color: #FF4A60;
    padding: 5px 10px;
    border-radius: 20px;
}
.review-duration i {
    color: #FF4A60;
}

/* Media Query */

@media only screen and (max-width: 576px) {
    a {
        font-size: 0.8em;
    }
    h2 {
        font-size: 1em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.7em;
    }
    
    .players {
        grid-template-columns: repeat(2, 1fr);
        column-gap: 10px;
    }

    .logo {
        margin-right: 10px;
    }

    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }

    .courses {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        gap: 50px;
    }
}